
.header{
    display: flex;
  }
  
  .btn1{
    padding-left: 1250px;
  }
  
  .text{
    padding-left: 10px;
  }
  
  .dropdown{
    padding-left: 20px;
  }
  
  .logo{
    padding-left: 5px;
  }
  
  
   
    
    
  
    
  